<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Tsung-Ju Chiang</title>
    <style>
      body {
        font-family: serif;
        font-size: 18px;
        max-width: 1024px;
        margin: 0 auto;
        padding: 10px;
      }
      nav {
        text-align: right;
      }
      nav a {
        display: inline-block;
        margin: 0 .2em;
        color: initial;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/index.html">Home</a>
      <a href="/links.html">Links</a>
      <a href="/posts.html">Posts</a>
      <a href="/publications.html">Publications</a>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
